body {
    font-size: 16px;
    font-family: 'Montserrat';
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

HTML {
    scroll-behavior: smooth;
}

img {
    width: 100%;
}



/** HEADER (ШАПКА САЙТА) **/




.header {
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: #221f23;
    padding: 20px 5px;
}

.header-items {
    display: flex;
    align-items: center; 
}

.header-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header-img {
    position: absolute;
    top: -20px;
    left: 30px;
}

.star {
    position: relative;
}

.header-subtitle {
    font-size: 14px;
    transition: 0.2s;
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.header-subtitle span {
    font-size: 12px;
}
.header-subtitle:hover {
    opacity: .7;
}

.header-nav {
    text-decoration: none;
}

.header-title-button {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.1s;
    font-size: 30px;
    font-weight: 300;
    font-family: 'PT Serif', serif;
    transition: 0.2s;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-title-button:hover {
    opacity: .7;
}

.header-lang {
    display: flex;
    transform: translate(20px) rotate(270deg);
    text-align: right;
    font-weight: 300;
    font-size: 14px;
    padding-bottom: 40px;

    position: absolute;
    top: 1px;
    right: 1px;
}

.header-buttons-ru {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.1s;
    text-shadow: 7px 7px #c1a886;
    background: transparent;
    border: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;

}

.header-buttons-ru:hover {
    opacity: .7;
}

.header-buttons-eng {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.1s;
    text-shadow: 7px 7px #c1a886;
    background: transparent;
    border: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;

}

.header-buttons-eng:hover {
    opacity: .7;
}




/** END HEADER **/


/** TITLE (НАЗВАНИЕ И КРАТКО ОПИСАНИЕ) **/




.title {
    background-color: #f0f0f0;
    padding: 161px 0 70px;
    margin-bottom: 50px;
}

.title-items {
    text-align: center;
}

.title-title {
    font-size: 36px;
    line-height: 1.23;
    margin-bottom: 21px;
    letter-spacing: 2px;
    font-family: 'PT Serif', serif;
    text-transform: uppercase;
}

.title-text {
    line-height: 1.55;
    width: 760px;
    margin: 0 auto;
    font-size: 16px;
}

.title-text:after {
    content: "";
    display: block;
    width: 150px;
    background-color: #c1a886;
    height: 1px;
    margin: 50px auto 50px;
    
}




/** END TITLE **/


/** CONTENT (В ЭТОМ РАЗДЕЛЕ ОПИСЫВАЕТСЯ ИСТОРИЯ) **/




.content {
    font-family: 'Montserrat';
    font-size: 20px;
    line-height: 30px;
}

.images-container {
    max-width: 1000px;
    margin: 0 auto;
}

.content-container {
    max-width: 900px;
    margin: 0 auto;
}

.content-text {
    margin: 0 auto 50px;
    padding: 30px 0;
}

.video {
    width: 1000px;
    margin-bottom: 40px;

}

.content-items-prew {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 5px;
}

.content-title-comment {
    background: #221f23;
    padding: 10px;
    width: 350px;
    color: white;
    font-weight: 400;
    letter-spacing: -0.5px;
    margin-bottom: 20px;
}

.content-title-prew {
    font-size: 60px;
    font-family: 'PT Serif', serif;
    margin-top: 20px;
    margin-bottom: 40px;
    background: #c1a886;
    padding: 20px 20px 20px 5px;
}

.content-text-prew {
    font-size: 30px;
    line-height: 40px;
    font-weight: 500;
}

.content-text-prew:after {
    content: "";
    display: block;
    width: 100%;
    background-color: #c1a886;
    height: 2px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.content-title {
    margin-bottom: 40px;
}

.content-suptitle {
    margin-bottom: 20px;
    font-weight: 400;
}

.content-subtitle {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 14px;
}

ul {
    margin-left: 25px;
    margin-bottom: 40px;
}

li {
    margin-bottom: 10px;
}

.text-date {
    font-weight: 700;
}

.line:before {
    content: "";
    display: block;
    width: 100%;
    background-color: #c1a886;
    height: 2px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.line-red:before {
    content: "";
    display: block;
    width: 100%;
    background-color: red;
    height: 2px;
    margin-top: 70px;
    margin-bottom: 70px;
}

img {
    display: block;
    margin: 0 auto;
}




/** END CONTENT **/


/**  CITATA **/


.citata {
    background: url(../history/img/shag2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    color: white;
    text-align: center;
    padding: 60px 0 70px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
}

.citata-items {
    max-width: 900px;
    margin: 0 auto;
}

.citata-title {
    font-size: 80px;
}

.citata-title:after {
    content: "";
    display: block;
    width: 300px;
    background-color: #c1a886;
    height: 2px;
    margin: 30px auto;
}

.citata-text {
    font-size: 25px;
    line-height: 40px;
    font-weight: 700;
    padding: 40px 0 0;
    margin: 0 auto ;
}

.citata-text:after {
    content: "";
    display: block;
    width: 300px;
    background-color: #c1a886;
    height: 2px;
    margin: 30px auto;
}

.citata-comment {
    font-size: 35px;
    line-height: 40px;
    font-weight: 700;
}




/**  END CITATA**/


/** MENU (МЕНЮШКА СПРАВА) **/


.menu {
    position: fixed;
    z-index: 1;
    top: 40vh;
    right: 5%;
}  

.menu-link {
    text-decoration: none;
    color: black;
}

.menu-link:after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #c1a886;
    transition: 0.4s linear;
}

.menu-link:hover:after{
    width: 100%;
}




/** END MENU **/


/** FOOTER (ПОДВАЛ САЙТА) **/




.footer {
    background-color: #221f23;
    padding: 30px 0px;
    color: white;
}

.footer-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    width: 50%;
}

.footer-text {
    font-size: 12px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
}

.footer-right {
    width: 50%;
}

.footer-rospis {
    text-align: center;
}




/** END FOOTER **/


/** MEDIA **/


@media screen and (max-width:1500px) {
    .menu {
        display: none;
    }
}
@media screen and (max-width:1300px) {
    .container {
        width: 1100px;
    }
}
@media screen and (max-width:1200px) {
    .container {
        width: 1000px;
    }
}
@media screen and (max-width:1100px) {
    .container {
        width: 900px;
    }
    .title-items img {
        width: 100%;
    }
}
@media screen and (max-width:1100px) {
    .container {
        width: 800px;
    }
    .content-container {
        width: 90%;
    }
    .content-items {
        text-align: center;
    }
    .content-items img {
        width: 85%;
    }
    .content-title-comment {
        margin: 0 auto;
        text-align: center;
    }
    .content-title-prew {
        font-size: 40px;
    }
    .content-items-prew {
        max-width: 90%;
        text-align: center;
    }
    .content-text-prew {
        text-align: center;
    }
    .content-text {
        text-align: center;
        width: 82%;
    }
    .citata-items {
        max-width: 80%;
    }
}
@media screen and (max-width:1000px) {
    .container {
        width: 700px;
    }
    .title-text {
        width: 85%;
    }
    .content-title-prew {
        font-size: 35px;
    }
}
@media screen and (max-width:900px) {
    .container {
        width: 650px;
    }
    .content-title-comment {
        margin-bottom: 20px;
    }
    .content-title-prew {
        width: 80%;
        margin: 0 auto;
    }
    .title-title {
        text-transform: uppercase;
        width: 90%;
        margin: 0 auto 20px;
    }
    .citata-items {
        max-width: 70%;
    }
}

@media screen and (max-width:800px) {
    .container {
        width: 600px;
    }
}

@media screen and (max-width:700px) {
    .container {
        width: 500px;
    }
}
@media screen and (max-width:600px) {
    .container {
        width: 500px;
    }
    .header-img {
        display: none;
    }
}
@media screen and (max-width:500px) {
    .container {
        width: 400px;
    }
    .content-title-prew{
        font-size: 25px;
    }
}


